.hero {
  padding-top: 118px;
  padding-bottom: 118px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/studio/mobile/hero-bg-m@1x.jpg');
  background-color: var(--bg-color-dark);
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 767px) {
    max-width: 480px;
    height: 400px;

    background-size: 480px 400px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    height: 400px;

    background-size: 768px 400px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/studio/tablet/hero-bg-t@1x.jpg');
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;

    background-size: 1600px 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/studio/desktop/hero-bg-d@1x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/studio/mobile/hero-bg-m@2x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/studio/tablet/hero-bg-t@2x.jpg');
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/studio/desktop/hero-bg-d@2x.jpg');
  }
}

.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
//   screen and (min-resolution: 192dpi) and (max-width: 767px),
//   screen and (min-resolution: 2dppx) and (max-width: 767px) {
//   .hero__overlay {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/studio/mobile/hero-bg-m@2x.jpg);
//   }
// }
// @media screen and (min-width: 768px) {
//   .hero__overlay {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/studio/tablet/hero-bg-t@1x.jpg);
//   }
// }
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
//   screen and (min-resolution: 192dpi) and (min-width: 768px),
//   screen and (min-resolution: 2dppx) and (min-width: 768px) {
//   .hero__overlay {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/studio/tablet/hero-bg-t@2x.jpg);
//   }
// }
// @media screen and (min-width: 1200px) {
//   .hero__overlay {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/studio/desktop/hero-bg-d@1x.jpg);
//   }
// }

// @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
//   screen and (min-resolution: 192dpi) and (min-width: 1200px),
//   screen and (min-resolution: 2dppx) and (min-width: 1200px) {
//   .hero__overlay {
//     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//       url(../images/studio/desktop/hero-bg-d@2x.jpg);
//   }
// }

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-color);

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button.hero__button {
  padding: 10px 32px;
  min-width: 216px;
  min-height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--brand-color);
  color: var(--accent-color);
}
