.team {
  background-color: var(--bg-color-light);
  margin-bottom: 0px;
}

.team__title {
  color: var(--text-secondary);
  text-align: center;
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team__member-card {
  margin-bottom: 0;

  background-color: var(--accent-color);

  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.team__member-description {
  text-align: center;

  @media screen and (max-width: 479px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 478px) and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 122px;
    padding-right: 122px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 74px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.team__member-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: var(--text-secondary);
}

.team__member-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}
