:root {
  --brand-color: #2196f3;
  --bg-color-dark: #2f303a;
  --bg-color-light: #f5f4fa;
  --text-primary: #757575;
  --text-secondary: #212121;
  --accent-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --footer-social-color: rgba(255, 255, 255, 0.1);
  --logo-header-color: #000000;
  --border-bottom-color: #ececec;
  --item-border-color: #eeeeee;
  --customers-thumb-color: #afb1b8;
}
